<main>
  <div class="forgot-password-icon">
    <mat-icon>fingerprint</mat-icon>
  </div>

  <h2 class="forgot-password-title">Esqueceu a senha?</h2>
  <span class="forgot-password-subtitle"
    >Não se preocupe, vamos te ajudar a recuperá-la. Por favor, digite o seu
    e-mail para continuar.</span
  >

  <form>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput type="email" [formControl]="emailControl" />
    </mat-form-field>
  </form>

  <button
    class="continue-button"
    mat-flat-button
    color="primary"
    [ngStyle]="{ pointerEvents: isLoading() ? 'none' : 'initial' }"
    (click)="handleRecoveryPassword()"
  >
    {{ !isLoading() ? "CONTINUAR" : "" }}
    <mat-spinner *ngIf="isLoading()" diameter="18"></mat-spinner>
  </button>
  <a class="back-to-login" routerLink="/entrar">
    <mat-icon>arrow_back</mat-icon>
    Voltar para login</a
  >
</main>
