<main class="main-wrapper" @fadeIn *ngIf="currentPost()">
  <div class="story-line">
    <ng-container *ngFor="let post of postList(); let index = index">
      <mat-progress-bar
        mode="determinate"
        [value]="getProgressByIndex(index)"
      />
    </ng-container>
  </div>

  <img
    class="story-image"
    [src]="currentPost()?.imageUrl!"
    width="100%"
    height="100%"
  />

  <div class="action-area">
    <div (click)="handleGoPreviousPost()"></div>
    <div (click)="handleGoNextPost()"></div>
  </div>

  <section class="main-section">
    <a [href]="currentPost()?.url" target="_blank"
      >blog.carclean.voleep.com<mat-icon>arrow_outward</mat-icon></a
    >
    <h1>{{ currentPost()?.title }}</h1>
  </section>
</main>
