<main>
  <div class="reset-password-icon">
    <mat-icon class="material-icons-outlined">password</mat-icon>
  </div>

  <h2 class="reset-password-title">Definir nova senha</h2>
  <span class="reset-password-subtitle"
    >Deve conter no mínimo 6 caracteres.</span
  >

  <form>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input
        id="password"
        matInput
        type="password"
        autocomplete="new-password"
        [formControl]="passwordForm.controls.password"
      />
      <mat-error *ngIf="passwordForm.controls.password.hasError('minlength')"
        >Mínimo 6 caracteres</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirme a senha</mat-label>
      <input
        id="confirmNewPassword"
        matInput
        type="password"
        maxlength="100"
        autocomplete="current-password"
        [formControl]="passwordForm.controls.confirmPassword"
      />
      <mat-error
        *ngIf="passwordForm.controls.confirmPassword.hasError('notMatch')"
        >Senha não confere</mat-error
      >
    </mat-form-field>
  </form>

  <button
    class="reset-password-button"
    mat-flat-button
    color="primary"
    [ngStyle]="{ pointerEvents: isLoading() ? 'none' : 'initial' }"
    (click)="handleResetPassword()"
  >
    {{ !isLoading() ? "REDEFINIR" : "" }}
    <mat-spinner *ngIf="isLoading()" diameter="18"></mat-spinner>
  </button>
  <a class="back-to-login" routerLink="/entrar">
    <mat-icon>arrow_back</mat-icon>
    Voltar para login</a
  >
</main>
