@import "../../../../shared/styles/abstracts/variables";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;

  main {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 350px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .all-done-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 65px;
    border: 2px solid #e6e6e6;
    border-radius: 12px;

    mat-icon {
      color: #393939;
      scale: 1.5;
    }
  }

  .all-done-title {
    font-weight: 500;
    font-size: 25px;
    margin: 16px 0 25px 0;
  }

  .all-done-subtitle {
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.3;
    color: #000000cc;
  }

  .finish-button {
    width: 100%;
    margin-top: 12px;
  }
}
