:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;

  form {
    display: contents;
  }

  mat-form-field,
  .login-button {
    width: 100%;
    max-width: 350px;
  }

  .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #ffffff;
  }
}
