<main>
  <img
    class="carclean-logo"
    src="assets/icons/launcher_icon.png"
    alt="logo do CarClean"
  />
  <div class="carclean-title">
    <h2>Entrar no&nbsp;</h2>
    <span>CarClean</span>
  </div>
  <span class="carclean-subtitle"
    >Bem vindo(a) ao CarClean! Por favor, preencha os campos abaixo para usar o
    app.</span
  >

  <form [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input [formControl]="loginForm.controls.email" matInput type="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input
        id="password"
        [formControl]="loginForm.controls.password"
        matInput
        type="password"
      />
    </mat-form-field>
    <a
      class="forgot-password"
      routerLink="/entrar/recuperar-senha"
      [state]="{email: loginForm.controls.email.value}"
      >Esqueceu a senha?</a
    >
  </form>

  <button
    class="login-button"
    mat-flat-button
    color="primary"
    [ngStyle]="{pointerEvents: isLoading() ? 'none' : 'initial'}"
    (click)="handleLoginClicked()"
  >
    {{!isLoading() ? 'ENTRAR' : ''}}
    <mat-spinner *ngIf="isLoading()" diameter="18"></mat-spinner>
  </button>
</main>
